.user__list {
  position: relative;
  display: block;
  margin: 0 auto;
  /*max-width: 325px;*/
  color: #cccccc;
  vertical-align: middle;
  user-select: none;
  -webkit-touch-callout: none;
  height: 60px;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
  min-width: 100px;
}
.user__list:hover {
  background-color: #295887;
  color: #fff;
}

.user__list .ant-dropdown-trigger, .user__list .ant-dropdown-link {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 14px;
  overflow: hidden;
  padding: 0px 15px;
  text-overflow: ellipsis;
}

.user__list .placeholder_close:after {
    position: absolute;
    right: 1em;
    top: calc( 50% + 4px );
    display: block;
    width:0;
    height:0;
    border:5px solid;
    border-color:#e3e3e3 transparent transparent transparent;
    transform: translateY(-50%);
    content: '';
    z-index: 10;
}

.user__list .placeholder_open:after {
  position: absolute;
  right: 1em;
  top: calc( 50% - 4px );
  display: block;
  width:0;
  height:0;
  border:5px solid;
  border-color: transparent transparent #e3e3e3 transparent;
  transform: translateY(-50%);
  content: '';
  z-index: 10;
}

.user__list ul {
    position: absolute;
    overflow: hidden;
    width: 100%;
    background: #fff;
    border-radius: 2px;
    top: 100%;
    left: 0;
    list-style: none;
    margin: 5px 0 0 0;
    padding: 0;
    z-index: 100;
    box-shadow: 0px 2px 10px #aaa;
}
.user__list ul li {
    display: block;
    text-align: left;
    line-height: 20px;
    padding: 0.8em 1em 0.8em 1em;
    color: #999;
    cursor: pointer;
}
.user__list ul li:hover {
    background: #1C61A6;
    color: #fff;
}
