.header__controll__search__box input, .header__controll__search__box button {
  height: 30px;
  padding: 0px;
  margin: 0px;
  border: none;
}
.header__controll__search__box input {
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  padding: 0px 15px;
  width: 130px;
  font-size: 12px;
  vertical-align: middle;
  text-overflow: ellipsis;
}
.header__controll__search__box button {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 30px;
  vertical-align: middle;
  padding-top: 2px;
  line-height: 0;
  cursor: pointer;
}
.header__controll__search__box input:focus, .header__controll__search__box button:focus {
  outline: none;
}
