{
  "parser"  : "babel-eslint",
  "extends" : [
    "standard",
    "standard-react",
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "babel", "flowtype", "import", "node"
  ],
  "env"     : {
    "browser" : true
  },
  "globals" : {
  },
  settings: {
    'import/resolver': {}
  },
  "rules": {
    "semi" : [2, "never"],
    "comma-dangle": ["error", "always-multiline"],
    "max-len": [2, 120, 2],
    "generator-star-spacing": 0,
    "babel/generator-star-spacing": 1,
    "flowtype/use-flow-type": 1,
    "flowtype/valid-syntax": 1
  }
}
