.select__box {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 60%;
    max-width: 325px;
    color: #fff;
    vertical-align: middle;
    user-select: none;
    -webkit-touch-callout: none;
    height: 30px;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 30px;
    border-radius: 15px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}
.select__box__defined {
    width: 140px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid #ccc;
    background-color: white;
    background-repeat: no-repeat;
    background-size: 8px 8px, 8px 8px, 30px 30px, 1px 30px;
    background-image: repeating-linear-gradient(225deg, rgb(105, 123, 149) 0%, rgb(105, 123, 149) 50%, transparent 50%, transparent 100%), /*组合成三角形图标*/ repeating-linear-gradient(135deg, rgb(105, 123, 149) 0%, rgb(105, 123, 149) 50%, transparent 50%, transparent 100%), /*组合成三角形图标*/ linear-gradient(#FFFFFF 0%, #F8F9Fd, #EFFAFA 100%), /*竖分割线右侧的背景色*/ repeating-linear-gradient( rgb(191, 204, 220) 0%, rgb(191, 204, 220) 100%);
    background-position: 175px 10px, 183px 10px, right top, 167px top;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 0px 15px;
}
.select__box:hover {
  border-color: #e3e3e3;
}
.select__box .placeholder_close:after {
    position: absolute;
    right: 1em;
    top: calc( 50% + 4px );
    display: block;
    width:0;
    height:0;
    border:5px solid;
    border-color:#e3e3e3 transparent transparent transparent;
    transform: translateY(-50%);
    content: '';
    z-index: 10;
}
.select__box .placeholder_open:after {
  position: absolute;
  right: 1em;
  top: calc( 50% - 4px );
  display: block;
  width:0;
  height:0;
  border:5px solid;
  border-color: transparent transparent #e3e3e3 transparent;
  transform: translateY(-50%);
  content: '';
  z-index: 10;
}
.select__box.is-open ul {
    display: block;
}
.select__box.select--white .placeholder {
    background: #fff;
    color: #999;
}
.select__box.select--white .placeholder:hover {
    background: #fafafa;
}
.select__box ul {
    position: absolute;
    overflow: hidden;
    width: 100%;
    background: #fff;
    border-radius: 2px;
    top: 100%;
    left: 0;
    list-style: none;
    margin: 5px 0 0 0;
    padding: 0;
    z-index: 100;
    box-shadow: 0px 2px 10px #aaa;
}
.select__box ul li {
    display: block;
    text-align: left;
    line-height: 20px;
    padding: 0.8em 1em 0.8em 1em;
    color: #999;
    cursor: pointer;
}
.select__box ul li:hover {
    background: #1C61A6;
    color: #fff;
}
