.select__box {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 60%;
    max-width: 325px;
    color: #fff;
    vertical-align: middle;
    user-select: none;
    -webkit-touch-callout: none;
    height: 30px;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 30px;
    border-radius: 15px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}
.select__box a {
  text-decoration: none;
}
.select__box:hover {
  border-color: #e3e3e3;
}
.select__box .placeholder_close:after {
    position: absolute;
    right: 1em;
    top: calc( 50% + 4px );
    display: block;
    width:0;
    height:0;
    border:5px solid;
    border-color:#e3e3e3 transparent transparent transparent;
    transform: translateY(-50%);
    content: '';
    z-index: 10;
}
.select__box .placeholder_open:after {
  position: absolute;
  right: 1em;
  top: calc( 50% - 4px );
  display: block;
  width:0;
  height:0;
  border:5px solid;
  border-color: transparent transparent #e3e3e3 transparent;
  transform: translateY(-50%);
  content: '';
  z-index: 10;
}
.select__box.is-open ul {
    display: block;
}
.select__box.select--white .placeholder {
    background: #fff;
    color: #999;
}
.select__box.select--white .placeholder:hover {
    background: #fafafa;
}
.select__box ul {
    position: absolute;
    overflow: hidden;
    width: 100%;
    background: #fff;
    border-radius: 2px;
    top: 100%;
    left: 0;
    list-style: none;
    margin: 5px 0 0 0;
    padding: 0;
    z-index: 100;
    box-shadow: 0px 2px 10px #aaa;
}
.select__box ul li {
    display: block;
    text-align: left;
    line-height: 20px;
    padding: 0.8em 1em 0.8em 1em;
    color: #999;
    cursor: pointer;
}
.select__box ul li:hover {
    background: #1C61A6;
    color: #fff;
}
