.k2-light, k2-dark {
  height: 100%;
  font-size: 14px;
}

.k2-light i,
.k2-dark i {
  font-style: normal;
}

.k2-light h3,
.k2-dark h3 {
  font-weight: normal;
  font-size: 14px;
}
.k2-dark span {
  color: #fff;
}
.k2-light span {
  color: #555555;
}
.k2-light {
  box-shadow: 2px 0 4px 0 rgba(0,0,0,0.05);
  height: calc(100% - 2px);
  width: 100%;
  box-sizing: border-box;
  font-Family: PingFangSC-Medium;
  padding-top: 40px;
  font-size: 14px;
}
.k2-dark {
  box-shadow: 2px 0 7px 0 rgba(0,0,0,0.05);
  box-sizing: border-box;
  height: calc(100% - 2px);
  width: 100%;
  font-Family: PingFangSC-Medium;
  padding-top: 40px;
  font-size: 14px;
}
.menu_title{
  padding: 10px 20px;
  box-sizing: border-box;
  opacity: 0.5;
  height: 40px;
  display: inline-block;
}
.menu_list{
  position: relative;
  width: 100%;
  height: 40px;
  line-height: 39px;
  opacity: 0.7;
}
.menulist_name {
  text-decoration: none;
  box-sizing: border-box;
  padding-left: 64px;
  display: inline-block;
  width: 100%;
  line-height: 40px;
  text-decoration: none;
}
.k2-dark .menulist_name:hover{
  background: rgba(79,149,251,.2);
}
.k2-light .menulist_name:hover{
  background: rgba(240,240,240,1);
}
.menulist_name:focus{
  text-decoration: none;
}
.k2-light .icon{
  display: inline-block;
  position: absolute;
  left: 40px;
  width: 20px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
}
