.header-container {
  height: 60px;
  background-color: #152D51;
}
.header__logo {
  float: left;
  height: 100%;
  /*padding-left: 14px;*/
  line-height: 60px;
  overflow: hidden;
  text-align: center;
}
.header__logo_title {
  height: 100%;
}
.header__logo_title span {
  color: #fff;
  /*font-size: 30px;*/
}
.header__logo_title .logoImg {
  padding: 0px 5px;
  margin-right: 5px;
  height: 100%;
  position: relative;
}
.logo-box {
  display: block;
  height: 34px;
  line-height: 34px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.header__logo_title .logoImg img {
  /*vertical-align: middle;*/
}
/*.header__logo_title .logoImg::after {
  content: '';
  border-right: 1px solid #fff;
  margin-left: 10px;
  width: 0;
  height: 15px;
  display: inline-block;
}*/
.header__controll {
  height: 100%;
  position: relative;
  /*display: flex;
  flex-direction: row;*/
}
.header_menu_list {
  margin-left: 25%;
  list-style: none;
  display: flex;
  height: 60px;
  width: 50%;
  overflow: hidden;
  white-space: nowrap;
}
.header_menu_list li {
  flex: 1;
  float: left;
  height: 100%;
  text-align: center;
  line-height: 60px;

  color: #fff;
  cursor: pointer;
}
.header_menu_list li a {
  text-decoration: none;
  position: relative;
  opacity: 0.6;
  font-family: PingFangSC-Medium, "\5FAE\8F6F\96C5\9ED1";
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  letter-spacing: 0;
}
.header_menu_list li span{
  float: right;
  color: #fff;
  opacity: 0.2;
}
.header_menu_list li:last-child span {
  opacity: 0;
}
.header_menu_list li a:hover {
  opacity: 1;
}
/*.header_menu_list li a:hover::after {
  display: inline-block;
  position: absolute;
  top: 30px;
  left: 25%;
  content: '';
  width: 37px;
  height: 2px;
  background-color: #fff;
}*/
/*.header_menu_list li a:active {
  opacity: 1;
}
.header_menu_list li a:active::after {
  display: inline-block;
  position: absolute;
  top: 30px;
  left: 25%;
  content: '';
  width: 37px;
  height: 2px;
  background-color: #fff;
}*/
.header_menu_list li .activeA {
  opacity: 1;
}
.header_menu_list li .activeA::after {
  display: inline-block;
  position: absolute;
  top: 30px;
  left: 25%;
  content: '';
  width: 37px;
  height: 2px;
  background-color: #fff;
}
.header_user {
  width: 25%;
  height: 100%;
  float: right;
  margin-top: -60px;
}
.header_user .logIn {
  opacity: 0.7;
  font-family: PingFangSC-Medium;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
}
.header_user .header_user_center {
  position: relative;
  height: 100%;
}
.header_user .header_user_center .header_username {
  width: 65%;
  height: 100%;
  display: inline-block;
  line-height: 60px;
}
.header_user .header_user_center .header_username span {
  opacity: 0.7;
  font-family: PingFangSC-Medium;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  float: right;
}
.header_user .header_user_center .header_separate {
  position: absolute;
  top: 0;
  width: 10%;
  height: 100%;
  display: inline-block;
  text-align: center;
  line-height: 60px;
}
.header_user .header_user_center .header_separate span {
  position: absolute;
  opacity: 0.3;
  font-family: PingFangSC-Medium;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
}
.header_user .header_user_center .header_logOut {
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  height: 100%;
  display: inline-block;
  text-align: center;
}
.header_user .header_user_center .header_logOut span {
  position: absolute;
  left: 0;
  top: 30%;
  width: 46px;
  height: 24px;
  border: 1px solid rgba(255,255,255,0.5);
  font-family: PingFangSC-Medium;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 0;
  float: left;
  line-height: 24px;
  cursor: pointer;
}
