.header-container {
  height: 60px;
  background-color: #1C61A6;
  padding-right: 20px;
  font-size: 14px;
  font-family: '微软雅黑'
}
.header__logo {
  width: 220px;
  float: left;
  height: 100%;
  text-align: center;
  line-height: 60px;
  overflow: hidden;
}
.header__logo_title span {
  color: #fff;
  font-size: 16px;
}
.header__logo_title span img {
  vertical-align: middle;
}
.header__logo_title span:nth-child(1) {
  /*border-right:1px solid #fff;*/
  padding: 0px 5px;
  margin-right: 5px;
}
.header__logo_title span:nth-child(1)::after {
  content: '';
  border-right: 1px solid #fff;
  margin-left: 10px;
  width: 0;
  height: 15px;
  display: inline-block;
}
.header__controll {
  display: flex;
  flex-direction: row;
}
.header__controll__nav {
  flex: 1;
  display: flex;
  height: 60px;
  border-right: 1px solid #1c69b7;
}

.header__controll__admin {
  width: 100px;
  text-align: center;
  line-height: 60px;
  border-right: 1px solid #1c69b7;
}
.header__controll__nav>ul, .header__controll__nav>ul>li {
  list-style: none;
  display: inline-block;
  padding: 0px;
  margin: 0px;
}
.header__controll__nav>ul {
  flex: 1;
  /*overflow: hidden;*/
  white-space: nowrap;
}

.header__controll__nav>ul>li {
  height: 100%;
  text-align: center;
  line-height: 60px;
  padding: 0px 10px;
  color: #78BEEA;
  cursor: pointer;
}

.header__controll__search {
  width: 200px;
  padding: 0px 5px;
  white-space: nowrap;
  text-align: center;
  line-height: 60px;
  border-right: 1px solid #1c69b7;
}
.header__controll__nav>ul>li:hover {
  background-color: #295887;
}
.header__controll__nav>ul>.active {
  background-color: #3c464b;
  color: #fff;
}

.header__controll__drop {
  width: 220px;
  text-align: center;
  line-height: 60px;
}

.header__controll__showhidden {
  line-height: 50px;
  text-decoration: none;
  color: #fff;
  position: relative;
}
.header__controll_hidden-list {
  width: 150px;
  background: #fff;
  position: absolute;
  top: 65px;
  left: 0;
  z-index: 1000;
  border-radius: 2px;
  box-shadow: 0px 2px 10px #aaa;
}
.header__controll_hidden-list li {
  color: #999;
  width: 150px;
  text-align: center;
  padding: 0px;
  display: block;
  height: 40px;
  line-height: 40px;
}
.header__controll_hidden-list li:hover {
  background-color: #1C61A6;
  color: #fff;
}
.header__controll_hidden-list .hidden__active {
  background-color: #1C61A6;
  color: #fff;
}

.drop__menu {
  padding: 0px 10px;
  position: relative;
}
.drop__menu__name_hide {
  position: relative;
  display: inline-block;
  height: 100%;
}
.drop__menu__name_hide::after {
  position: absolute;
  right: -1em;
  top: calc( 50% + 4px );
  display: block;
  width: 0;
  height: 0;
  border: 5px solid;
  border-color: #e3e3e3 transparent transparent transparent;
  transform: translateY(-50%);
  content: '';
  z-index: 10;
}
.drop__menu__name_open {
  position: relative;
  display: inline-block;
  height: 100%;
}
.drop__menu__name_open::after {
  position: absolute;
  right: -1em;
  top: calc( 50% - 2px );
  display: block;
  width: 0;
  height: 0;
  border: 5px solid;
  border-color: transparent transparent #e3e3e3 transparent;
  transform: translateY(-50%);
  content: '';
  z-index: 10;
}
.drop__menu__list {
  position: absolute;
  left: -10px;
  top: 60px;
  border-radius: 2px;
  z-index: 1000;
  min-width: 100px;
  margin-top: 5px;
  box-shadow: 0px 2px 10px #aaa;
  background-color: #fff;
}

.drop__menu__list>ul, .drop__menu__list>ul>li{
  display: block;
  list-style: none;
  color: #999;
  padding: 0;
}

.drop__menu__list>ul>li {
  line-height: 25px;
  text-align: left;
  padding: 10px 15px;
}
.drop__menu__list>ul>li:hover {
  background-color: #295887;
  cursor: pointer;
  color: #fff;
}
