.k2-header {
  height: 60px;
  background-color: #152D51;
}

.k2-header__logo {
  float: left;
  height: 100%;
  line-height: 60px;
  overflow: hidden;
  text-align: center;
}

.k2-header__logo {
  color: #fff;
}

.k2-header__logo .image-wrapper {
  padding: 0px 5px;
  margin-right: 5px;
  height: 100%;
  position: relative;
}

.k2-header__logo .image-wrapper img {
  display: block;
  height: 34px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.header__menu {
  height: 100%;
  position: relative;
  margin-left: 25%;
  list-style: none;
  display: flex;
  height: 60px;
  width: 50%;
  overflow: hidden;
  white-space: nowrap;
}

.header__menu li {
  position: relative;
  flex: 1;
  float: left;
  height: 100%;
  text-align: center;
  line-height: 60px;

  color: #fff;
  cursor: pointer;
}

.header__menu li a {
  text-decoration: none;
  position: relative;
  opacity: .75;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0;
}
.header__menu li::after {
  display: inline-block;
  position: absolute;
  top: 33.333%;
  left: 100%;
  content: '';
  width: 1px;
  height: 20px;
  background-color: #fff;
  opacity: 0.3;
}
.header__menu li:last-child::after {
  opacity: 0;
}
/*.header__menu li span{
  float: right;
  color: #fff;
  opacity: 0.2;
}

.header__menu li:last-child span {
  opacity: 0;
}*/

.header__menu li a:hover {
  opacity: 1;
}

.header__menu li .activeA {
  opacity: 1;
}

.header__menu li .activeA::after {
  display: inline-block;
  position: absolute;
  top: 28px;
  left: 50%;
  transform: translateX(-50%);
  content: '';
  width: 28px;
  height: 2px;
  background-color: #fff;
}

.header__usernav {
  width: 25%;
  height: 100%;
  float: right;
  margin-top: -60px;

  position: relative;
  height: 100%;
}

.header__usernav .logIn {
  opacity: 0.7;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
}

.header__usernav__name {
  width: 65%;
  height: 100%;
  display: inline-block;
  line-height: 60px;
}

.header__usernav__name span {
  opacity: 0.7;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  float: right;
}

.header__usernav__separate {
  position: absolute;
  top: 0;
  width: 10%;
  height: 100%;
  display: inline-block;
  text-align: center;
  line-height: 60px;
}

.header__usernav__separate span {
  position: absolute;
  opacity: 0.3;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
}

.header__usernav__logout {
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  height: 100%;
  display: inline-block;
  text-align: center;
}

.header__usernav__logout span {
  position: absolute;
  left: 0;
  top: 30%;
  width: 46px;
  height: 24px;
  border: 1px solid rgba(255,255,255,0.5);
  border-radius: 3px;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 0;
  float: left;
  line-height: 24px;
  cursor: pointer;
}
