.k2-header {
  height: 60px;
  background-color: #152D51;
  /* In IE9 "display: table;" change header__menu's height */
  overflow: hidden;
}

.k2-header__logo {
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
}

.k2-header__logo .image-wrapper {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.k2-header__logo .image-wrapper img {
  display: block;
  height: 34px;
}

.header__menu {
  height: 100%;
  position: relative;
  margin-left: 25%;
  list-style: none;
  /* IE9 */
  display: table;
  display: flex;
  height: 60px;
  width: 50%;
  white-space: nowrap;
}

.header__menu li {
  position: relative;
  flex: 1;
  /* IE9 */
  display: table-cell;
  text-align: center;
  height: 100%;
  line-height: 60px;
  color: #fff;
  cursor: pointer;
}

.header__menu li a {
  text-decoration: none;
  position: relative;
  opacity: .75;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0;
}
.header__menu li::after {
  display: inline-block;
  position: absolute;
  top: calc((60px - 14px) / 2);
  left: 100%;
  content: '';
  width: 1px;
  height: 14px;
  background-color: #fff;
  opacity: 0.2;
}
.header__menu li:last-child::after {
  opacity: 0;
}
.header__menu li a:hover {
  opacity: 1;
}

.header__menu li .activeA {
  opacity: 1;
}

.header__menu li .activeA::after {
  display: inline-block;
  position: absolute;
  top: 28px;
  left: 50%;
  transform: translateX(-50%);
  content: '';
  width: 28px;
  height: 2px;
  background-color: #fff;
}

.header__usernav {
  width: 25%;
  height: 60px;
  position: absolute;
  top: 0;
  right: 0;
}

.header__usernav .logIn {
  opacity: 0.7;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
}

.header__usernav__name {
  width: 65%;
  height: 100%;
  display: inline-block;
  line-height: 60px;
  text-align: right;
}

.header__usernav__name span {
  opacity: 0.7;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
}
.header__usernav__name .header__user__icon {
  display: none;
}
.header__usernav__separate {
  vertical-align: top;
  width: 10%;
  height: 60px;
  line-height: 60px;
  display: inline-block;
  text-align: center;
  position: relative;
}

.header__usernav__separate::after {
  content: '';
  opacity: 0.2;
  height: 14px;
  position: absolute;
  top: calc((60px - 14px) / 2);
  width: 1px;
  background-color: #FFFFFF;
}

.header__usernav__logout {
  vertical-align: top;
  width: 25%;
  height: 60px;
  line-height: 60px;
  display: inline-block;
  text-align: left;
}

.header__usernav__logout span {
  display: inline-block;
  width: 46px;
  height: 24px;
  line-height: 22px;
  border: 1px solid rgba(255,255,255,0.5);
  border-radius: 3px;
  font-size: 12px;
  color: #FFFFFF;
  cursor: pointer;
  text-align: center;
}
@media (max-width: 768px) {
  .k2-header {
    position: relative;
    overflow: hidden;
    z-index: 111;
  }
  .header__select__wrapper {
    position: relative;
    float: right;
    width: 150px;
    height: 427px;
    background: #152D51;
    margin-right: 5px;
    border-radius: 5px;
    border-left: 1px dashed #fff;
    border-bottom: 1px dashed #fff;
  }
  .header__usernav {
    position: absolute;
    width: 150px;
    background-color: #152D51;
  }
  .header__usernav__name {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    text-align: center;
    cursor: pointer;
  }
  .header__usernav__name .header__user__icon {
    display: inline-block;
    position: absolute;
    top: 1px;
    right: 35px;
    transform: rotate(-90deg);
  }
  .header__usernav__logout {
    position: absolute;
    top: 60px;
    right: 0;
    text-align: center;
    width: 150px;
    border-bottom: 1px dashed rgba(255,255,255,0.2);
  }
  .header__usernav__logout span {
    border: 0;
  }
  .header__usernav__separate {
    display: none;
  }
  .header__menu {
    width: 150px;
    display: block;
    margin-top: 120px;
    margin-left: 0;
  }
  .header__menu li {
    display: block;
    width: 150px;
    border-bottom: 1px dashed rgba(255,255,255,0.2);
    margin-bottom: 2px;
  }

}
