.ant-menu-sub.ant-menu-inline > .ant-menu-item, .ant-menu-sub.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
  font-size: 14px;
}
.ant-menu-vertical > .ant-menu-item, .ant-menu-inline > .ant-menu-item, .ant-menu-item-group-list > .ant-menu-item, .ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu-item-group-list > .ant-menu-submenu > .ant-menu-submenu-title {
  font-size: 14px;
}


:root .ant-menu-submenu-inline > .ant-menu-submenu-title:after {
  font-size: 16px;
  font-weight: 800;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #fff;
}
.ant-menu-inline .ant-menu-selected, .ant-menu-inline .ant-menu-item-selected {
  border-right: 0;
}
.ant-menu-item-selected .ant-menu-item:hover {
  background-color: #f00;
}
.icon__box {
  vertical-align: sub;
  margin-right: 5px;
}
.side__menu {
  width: 220px;
  border-right: 1px solid #e9e9e9;
  height: 100%;
}
.ant-menu {
  width: 218px!important;
}
.ant-menu-inline, .ant-menu-vertical {
  border-right: 0;
}
.ant-menu-inline .ant-menu-item, .ant-menu-vertical .ant-menu-item  {
  border: 0px;
}
.ant-menu-item:hover{
  color:#fff;
  background-color: #108ee9!important;
}
